<footer class="footer">
  <div class="container">
    <div class="footer-block">
      <div class="footer__description">
        <h4 class="footer__title">Фабрика скинали №1</h4>
        <span class="footer__subtitle">Ведущий производитель скинали</span>
        <span class="footer__copy">© Фабрика скинали №1</span>
      </div>
      <div class="footer__pay-info">
        <img
          src="img/footer/webmoney-pay-logo.png"
          alt=""
          class="footer__pay-logo"
        />
        <img
          src="img/footer/yandex-pay-logo.png"
          alt=""
          class="footer__pay-logo"
        />
        <img
          src="img/footer/master-card-pay-logo.png"
          alt=""
          class="footer__pay-logo"
        />
        <img
          src="img/footer/visa-pay-logo.png"
          alt=""
          class="footer__pay-logo"
        />
      </div>
      <div class="footer__contacts">
        <a href="#" class="footer__phone">+7 499 123-45-67</a>
        <a href="#" class="footer__mail">5404177@mail.ru</a>
        <div class="footer-social">
          <a href="#" class="footer-social__link">
            <img src="img/footer/twitter.png" alt="" />
          </a>
          <a href="#" class="footer-social__link">
            <img src="img/footer/facebook.png" alt="" />
          </a>
          <a href="#" class="footer-social__link">
            <img src="img/footer/vk.png" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
